group NetFramework
source https://api.nuget.org/v3/index.json
framework: net472
    nuget Fody
    nuget Newtonsoft.Json
    nuget PropertyChanged.Fody
    nuget System.Linq.Async
    nuget VkNet
    nuget VkNet.AudioBypassService
    nuget WindowsAPICodePack
    nuget morelinq
    nuget Grpc
    nuget Grpc.Tools
    nuget Google.Protobuf
    // костыль понадобился из-за того, что ServiceCollection определен в двух зависящих сборках и в одном пространстве имен
    nuget Microsoft.Extensions.DependencyInjection.Abstractions 5.0
    nuget MahApps.Metro.IconPacks
    nuget Autofac


group MBApiProtoGenerator
source https://api.nuget.org/v3/index.json
framework: net472
    nuget Microsoft.Build
    nuget Microsoft.Build.Utilities.Core
    nuget Autofac
